* {margin: 0; padding: 0}
body {
	font: 14px/1.7 arial, "Microsoft Yahei", sans-serif;
}

.page, .page-group {
	position: fixed;
}
.list-block{
	margin-top: 0;
}

.list-block .item-inner {
    min-height: 2.6rem;}

#item-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	overflow: auto;
	background: #f7f7f7;
}
#item-container li {
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
}
#item-container li:last-child {
	border-bottom: none;
}

a {
	color: #3d4145;
}

.tsm-head .tsm-title {
	float: left;
    width: 90%;
    height: 100%;
    padding-left: 40px;
    text-align: center;
    line-height: 45px;
}

.tsm-head .icon-right {
	float: right;
    line-height: 45px;
    padding-right: 10px;
}

.index-sidebar-container {
	position: fixed;
	top: 70px;
	right: 0;
	overflow: visible;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.index-sidebar-container ul {
	padding: 0 5px;
	list-style: none;
	font-size: 13px;
	line-height: 1.5;
	color: #999;
}
.index-sidebar-container li {
	text-align: center;
}
.index-sidebar-container .current-char {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin-left: -80px;
	margin-top: -20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 32px;
	text-align: center;
	color: #999;
}